extends ../../layout

block link
  meta(name="description" content="记录你想听的、在听和听过的唱片，顺便打分、添加标签及个人附注、写评论。根据你的口味，云瓣会推荐适合的唱片给你。")
  link(href="/libs/css/music/music_index.min.css",rel="stylesheet")
block content
  .wrapper
    .content
      .container-fluid
        .row
          .col-md-6.col-md-offset-1.col-xs-7.col-sm-7.screen
            // 顶部轮播图标签节点
            #galleryFrames.gallery-frames
              .panel.panel-default
                .pannel-body.gallery-hot
                  ul.slide-content.clearfix(style="width: 10000px;")
                    - for(var i = 1; i <= fileList.length; i++)
                      li.slide-item
                        a(href="/music/581ad4bebb4e00f91bfd201c")
                          img(src="/libs/images/music/gallery/" + i + '.jpg' alt="")
                button.slide-prev
                button.slide-next
                ul.slide-dots
                  li.slide-active 1
                  - for(var i = 2; i <= fileList.length; i++)
                    li= i
            each cat in musicCategories
              if cat.name === '编辑推荐'
                .panel.panel-default#editorFeatured.editor-featured
                  .panel-heading.screen-header
                    h4 #{cat.name}
                    .slide-tip
                      span.ui-side-index 1
                      span &nbsp;/&nbsp;
                      span.ui-side-max
                      button.slide-prev
                      button.slide-next
                  .panel-body.screen-body
                    if cat.musics && cat.musics.length > 0
                      each item in cat.musics
                        .thumbnail
                          a(href="/music/#{item._id}" target="_blank")
                            if item.poster.indexOf('http') > -1
                              img(src="#{item.poster}", alt="#{item.title}")
                            else
                              img(src="/upload/music/#{item.poster}", alt="#{item.title}")
                          .caption
                            p #{item.version}
                            h5
                              a(href="/music/#{item._id}" target="_blank") #{item.title}
                            p #{item.singer}
                            div #{item.summary}
            .left-advertisement
              a(href="/gallery")
                img(src="/libs/images/music/1.gif" alt="云瓣")
            // 新碟榜
            .screen#newAlbums.new-albums
            // 近期热门歌单
            #hotProgrammes
          .col-md-4.col-xs-4.col-sm-4
            // 热门音乐分类
            .tag-block#tagBlock
              .screen
                .billboard-hd.class-top
                  h4 热门音乐分类
                  a.more(href="/music/results?pro=581b470286202d04f84be234") 更多
                each cat in programmes
                  if cat.name === '热门音乐分类'
                    if cat.musicCategories && cat.musicCategories.length > 0
                      table.table.table-hover
                        tbody
                          - var len = Math.min(10,cat.musicCategories.length)
                          - for(var i = 0; i < len; i++)
                            tr
                              td: a(href="/music/results?q=#{cat.musicCategories[i].name}&p=0") #{cat.musicCategories[i].name}
                              - i++
                              td: a(href="/music/results?q=#{cat.musicCategories[i].name}&p=0") #{cat.musicCategories[i].name}
            // 本周单曲版
            #hotArtistSongs
            // 云瓣音乐250
            #recInfo
              .billboard
                each cat in musicCategories
                  if cat.name === '云瓣音乐250'
                    .billboard-hd.class-top
                      h4 云瓣音乐250
                      a.more(href="/music/results?q=#{cat.name}&p=0" target="_blank") 更多
                    .billboard-bd.clearfix
                      if cat.musics && cat.musics.length > 0
                        - var len = Math.min(9,cat.musics.length)
                        - for(var i = 0; i < len; i++)
                          .thumbnail
                            if cat.musics[i]
                              a(href="/music/#{cat.musics[i]._id}",target="_blank")
                                if cat.musics[i].poster.indexOf('http') > -1
                                  img(src="#{cat.musics[i].poster}", alt="#{cat.musics[i].title}")
                                else
                                  img(src="/upload/music/#{cat.musics[i].poster}", alt="{cat.musics[i].title}")
                                h5 #{cat.musics[i].title}


  // 音乐首页JS脚本
  script(src="/libs/scripts/components/componentInit.min.js")
  script(src="/libs/scripts/components/musicBundle.min.js")
